{% extends 'base.html.twig' %}

{% block title %}Viajero index{% endblock %}

{% block body %}
    <h1>Viajero index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre_completo</th>
                <th>Referencia</th>
                <th>Telefono</th>
                <th>Ciudad</th>
                <th>Pais</th>
                <th>Imagen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for viajero in viajeros %}
            <tr>
                <td>{{ viajero.id }}</td>
                <td>{{ viajero.nombreCompleto }}</td>
                <td>{{ viajero.referencia }}</td>
                <td>{{ viajero.telefono }}</td>
                <td>{{ viajero.ciudad }}</td>
                <td>{{ viajero.pais }}</td>
                <td>{{ viajero.imagen }}</td>
                <td>
                    <a href="{{ path('app_viajero_show', {'id': viajero.id}) }}">show</a>
                    <a href="{{ path('app_viajero_edit', {'id': viajero.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_viajero_new') }}">Create new</a>

    <a href="{{ path('app_inicio') }}">Inicio</a>
{% endblock %}
