{% extends 'base.html.twig' %}

{% block title %}Inicio - Gestión{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	<main>
		<h1>Bienvenido a Gestión de viajes y actividades</h1>
		<nav>
			{% if app.user %}
				<a href="{{ path('app_proyecto_index') }}">Proyectos</a>
				<a href="{{ path('app_logout') }}">Logout</a>
				{{ app.user ? 'Conectado como: ' ~ app.user.username : 'No conectado' }}
			{% else %}
				<a href="{{ path('app_login') }}">Login</a>
				<a href="{{ path('app_register') }}">Register</a>
			{% endif %}
		</nav>

		

	</main>
{% endblock %}

