{% extends 'base.html.twig' %}

{% block title %}Logistica index{% endblock %}

{% block body %}
    <h1>Logistica index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo_viaje</th>
                <th>Destino_lugar</th>
                <th>Medio_transporte</th>
                <th>Salida</th>
                <th>Llegada</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for logistica in logisticas %}
            <tr>
                <td>{{ logistica.id }}</td>
                <td>{{ logistica.tipoViaje }}</td>
                <td>{{ logistica.destinoLugar }}</td>
                <td>{{ logistica.medioTransporte }}</td>
                <td>{{ logistica.salida ? logistica.salida|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ logistica.llegada ? logistica.llegada|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_logistica_show', {'id': logistica.id}) }}">show</a>
                    <a href="{{ path('app_logistica_edit', {'id': logistica.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_logistica_new') }}">Create new </a>

    <br>

    <a href="{{ path('app_proyecto_index') }}"> Volver a Proyectos </a>

    <br>

    <a href="{{ path('app_inicio') }}"> Inicio </a>
{% endblock %}
